.footer {
  width: 100%;
  border-top: solid 1px #ddd;
  margin-top: 10px;
}
.footer-content {
  width: 100%;
  margin: 0 auto;
  padding: 15px 20px;
  text-align: center;
}
.footer-text {
  color: #6e6e6e;
  margin: 12px auto;
  display: block;
  font-size: 11px;
  text-align: center;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
}
